@use "../../settings/colors" as *;
@use "../../settings/variables" as *;
@use "../../settings/fonts" as *;
@use "../../settings/mixins" as *;

.benefits {
  padding-top: 200px;

  @include media-max($laptop) {
    padding-top: 150px;
  }
  @include media-max(1000px) {
    padding-top: 80px;
  }
}

.benefits__container {
  padding-top: 135px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 85px;

  @include media-max($laptop) {
    padding-top: 80px;
    row-gap: 68px;
  }

  @include media-max(1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-max($mobile-large) {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}

.benefit {
  @include border-stroke();
  @include item-shadow();
  position: relative;
  padding: 80px 50px 50px;
  width: 100%;
  max-width: 504px;
  background-color: white;

  @include media-max($laptop) {
    padding: 60px 38px 40px;
  }
  @include media-max($mobile-large) {
    padding: 50px 35px 30px 30px;
  }

  &__icon-container {
    @include border-stroke();
    position: absolute;
    display: grid;
    place-items: center;
    width: 74px;
    height: 74px;
    background: $color-background-item;
    left: 30px;
    top: -37px;

    @include media-max($laptop) {
      width: 56px;
      height: 56px;
      left: 24px;
      top: -28px;
      & img {
        scale: 0.7;
      }
    }
  }

  &__title {
    @include raleway-bold();
    font-size: 28px;

    @include media-max($laptop) {
      font-size: 24px;
    }
    @include media-max($mobile-large) {
      font-size: 22px;
    }
  }
  &__description {
    @include outfit-medium();
    padding-top: 20px;
    font-size: 18px;
    line-height: 150%;
    color: $color-gray-description;

    @include media-max($laptop) {
      font-size: 16px;
    }
  }
}
