@use "../../settings/colors" as *;
@use "../../settings/variables" as *;
@use "../../settings/fonts" as *;
@use "../../settings/mixins" as *;

.benefits {
  padding-top: 135px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 85px;

  @media (max-width: $laptop) {
    padding-top: 80px;
    row-gap: 68px;
  }

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $mobile-large) {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}
