@use "../../settings/colors" as *;
@use "../../settings/variables" as *;
@use "../../settings/fonts" as *;
@use "../../settings/mixins" as *;

.faq {
  padding-top: 200px;

  &__content {
    padding-top: 100px;
    display: flex;
    gap: 50px;
  }
}

.faq__item {
  @include border-stroke();
  position: relative;
  list-style: none;
  cursor: pointer;
  width: 100%;
  background-color: $color-secondary-accent;
  height: fit-content;
  margin-bottom: 30px;
  padding: 40px 110px 37px 40px;
  &--open {
    background-color: white;
  }
  &--closed {
    background-color: $color-secondary-accent;
  }
  &[open] {
    .question-underline {
      display: block;
    }
  }

  &__question {
    @include outfit-semi-bold();
    line-height: 150%;
    width: 100%;

    // hidden summary default
    &::-webkit-details-marker,
    &::marker {
      display: none;
      content: "";
    }
  }
  &__answer {
    @include outfit-medium();
    line-height: 150%;
    padding-top: 24px;
  }
}

.faq__icon {
  @include border-stroke();
  position: absolute;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  background-color: $color-background;
  right: 34px;
  top: 34px;
}

.faq__column {
  width: 771px;
}
.question-underline {
  display: none;
  border-bottom: 2px solid black;
  width: 100%;
  padding-top: 20px;
}

@media only screen and (max-width: 1700px) {
  .faq {
    padding-top: 150px;
    &__content {
      padding-top: 80px;
      gap: 40px;
    }
  }
  .faq__item {
    padding: 26px 86px 26px 30px;
    margin-bottom: 24px;
    &__question {
      font-size: 18px;
    }
    &__answer {
      font-size: 16px;
    }
  }
  .faq__icon {
    width: 32px;
    height: 32px;
    right: 30px;
    top: 24px;
    & img {
      scale: 0.8;
    }
  }
}
