@use "../../settings/colors" as *;
@use "../../settings/variables" as *;
@use "../../settings/fonts" as *;
@use "../../settings/mixins" as *;

.hero {
  @include outfit-medium();
  display: flex;
  align-items: center;
  padding-top: 80px;

  &__content {
    padding-left: 60px;

    &__intro-text {
      font-size: 22px;
      line-height: 150%;
      text-decoration: underline;
      text-underline-offset: 15px;
      padding-bottom: 20px;
    }
    &__description {
      padding-top: 30px;
      line-height: 150%;
      color: $color-gray;
    }
    & h1 {
      @include raleway-title();
      & span {
        color: $color-primary-accent;
      }
    }

    &__stats {
      @include border-stroke();
      @include stats-shadow();
      margin-top: 60px;
      padding: 24px 50px;
      display: flex;
      justify-content: space-between;
      background-color: $color-secondary-accent;
      &__number {
        @include outfit-extra-bold();
        line-height: 150%;
      }
      &__info {
        @include outfit-medium();
        font-size: 18px;
        line-height: 150%;
      }
    }
  }
}

@media only screen and (max-width: 1700px) {
  .hero {
    padding-top: 60px;
    & img {
      width: 615px;
      height: 663px;
    }
    & h1 {
      font-size: 40px;
    }
    &__content {
      padding-left: 50px;
      &__intro-text {
        text-underline-offset: 10px;
        font-size: 18px;
        padding-bottom: 7px;
      }
      &__description {
        font-size: 16px;
        padding-top: 20px;
      }
      &__stats {
        margin-top: 50px;
        padding: 20px 40px;
        &__number {
          font-size: 34px;
        }
        &__info {
          font-size: 16px;
        }
      }
    }
  }
}
