@use "../../settings/colors" as *;
@use "../../settings/variables" as *;
@use "../../settings/fonts" as *;
@use "../../settings/mixins" as *;

.home {
  padding: 0 115px 200px;

  @media (max-width: $laptop) {
    padding: 0 30px 150px;
  }
  @media (max-width: 800px) {
    padding: 0 0 150px;
  }
  @media (max-width: $laptop-small) {
    padding: 0 0 80px;
  }
}
