@use "../../settings/colors" as *;
@use "../../settings/variables" as *;
@use "../../settings/fonts" as *;
@use "../../settings/mixins" as *;

.home {
  padding: 0 115px 200px;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-subtitle {
  @include border-stroke();
  @include outfit-medium();
  line-height: 150%;
  background-color: white;
  padding: 10px 20px;
  font-size: 18px;
}

.section-title {
  @include raleway-bold();
  padding: 19px 0;
}

.section-description {
  @include outfit-medium();
  line-height: 150%;
  text-align: center;
}

@media only screen and (max-width: 1700px) {
  .home {
    padding: 0 30px 200px;
  }
  .section-subtitle {
    font-size: 16px;
    padding: 8px 14px;
  }
  .section-title {
    font-size: 48px;
    padding: 14px 0;
  }
  .section-description {
    font-size: 16px;
  }
}
