@use "../../settings/colors" as *;
@use "../../settings/variables" as *;
@use "../../settings/fonts" as *;
@use "../../settings/mixins" as *;

.home {
  padding: 0 115px 200px;

  @include media-max($laptop) {
    padding: 0 30px 150px;
  }
  @include media-max(800px) {
    padding: 0 0 150px;
  }
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-subtitle {
  @include border-stroke();
  @include outfit-medium();
  line-height: 150%;
  background-color: white;
  padding: 10px 20px;
  font-size: 18px;

  @include media-max($laptop) {
    font-size: 16px;
    padding: 8px 14px;
  }
}

.section-title {
  @include raleway-bold();
  padding: 19px 0;

  @include media-max($laptop) {
    font-size: 48px;
    padding: 14px 0;
  }
}

.section-description {
  @include outfit-medium();
  line-height: 150%;
  text-align: center;

  @include media-max($laptop) {
    font-size: 16px;
  }
}
