@use "../../settings/colors" as *;
@use "../../settings/variables" as *;
@use "../../settings/fonts" as *;
@use "../../settings/mixins" as *;

.navigation {
  padding-top: 200px;
  &__content {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    gap: 50px;
  }
}

.navigation__item {
  @include border-stroke();
  @include item-shadow();
  background-color: white;
  width: 100%;
  max-width: 773px;
  padding: 80px;
  &__title {
    @include raleway-bold();
    font-size: 48px;
    text-align: center;
  }
  &__description {
    @include outfit-medium();
    padding-top: 50px;
    line-height: 150%;
    text-align: center;
    color: $color-gray-description;
  }
  &__btn {
    @include border-stroke();
    @include item-shadow();
    @include outfit-medium();
    width: 100%;

    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 0;
    gap: 10px;
    background-color: $color-background-item;
    position: relative;
    cursor: pointer;
    &:hover {
      box-shadow: none;
      transition: all 0.2s ease-in-out;
    }
  }
}

.decoration__container {
  padding-top: 30px;
}
.navigation__link {
  position: absolute;
  inset: 0;
}

@media only screen and (max-width: 1700px) {
  .navigation {
    padding-top: 150px;
    &__content {
      padding-top: 80px;
      column-gap: 40px;
      gap: 40px;
    }
  }
  .navigation__item {
    max-width: 620px;
  }
}
