@use "../../settings/colors" as *;
@use "../../settings/variables" as *;
@use "../../settings/fonts" as *;
@use "../../settings/mixins" as *;

.testimonials {
  padding-top: 200px;

  &__content {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 50px;

    &__card {
      @include border-stroke();
      @include item-shadow();
      width: 100%;
      max-width: 425px;
      height: 462px;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__user-name {
    padding-top: 12px;
    font-family: $font-outfit;
    font-size: 24px;
    line-height: 150%;
    font-weight: 600;
    color: $color-gray;
  }
  &__comment {
    @include outfit-medium();
    padding: 30px 50px 50px;
    color: $color-gray;
    text-align: center;
    line-height: 150%;
  }
}

.avatar__container {
  margin-top: 50px;
  border: $border-secondary-stroke;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: $color-background;
  display: grid;
  place-items: center;
}

.rating__container {
  position: relative;
  padding-top: 30px;
  width: 140px;
  &__full {
    position: absolute;
    overflow: hidden;
    // width: 140px;
  }
}
.arrow-btn {
  @include border-stroke();
  background-color: white;
  width: 58px;
  height: 58px;
  display: grid;
  place-items: center;
  &__left {
    transform: rotate(180deg);
  }
}
