@use "../../settings/colors" as *;
@use "../../settings/variables" as *;
@use "../../settings/fonts" as *;
@use "../../settings/mixins" as *;

.testimonials {
  padding-top: 200px;

  @media (max-width: $laptop) {
    padding-top: 150px;
  }
  @media (width-max: 1000px) {
    padding-top: 80px;
  }

  &__content {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $laptop) {
      padding-top: 80px;
    }
    @media (max-width: 1020px) {
      // padding-top: 80px;
      display: block;
    }
  }

  &__container {
    width: 1380px;
    padding: 8px;
    overflow: hidden;

    @media (max-width: $laptop) {
      width: 1115px;
    }
    @media (max-width: 1020px) {
      width: 740px;
      // display: flex;
      // justify-content: center;
      // transform: translateX(50%, 50%);
    }

    &__slider {
      display: flex;
      justify-content: space-between;
      gap: 50px;
      transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
      will-change: transform;

      @media (max-width: $laptop) {
        gap: 40px;
      }
    }
    &__card {
      @include border-stroke();
      @include item-shadow();
      width: 420px;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-shrink: 0;

      @media (max-width: $laptop) {
        width: 340px;
      }
    }
  }
  &__user-name {
    padding-top: 12px;
    font-family: $font-outfit;
    font-size: 24px;
    line-height: 150%;
    font-weight: 600;
    color: $color-gray;

    @media (max-width: $laptop) {
      padding-top: 10px;
      font-size: 20px;
    }
  }
  &__comment {
    @include outfit-medium();
    padding: 30px 50px 50px;
    color: $color-gray;
    text-align: center;
    line-height: 150%;

    @media (max-width: $laptop) {
      padding: 24px 40px 40px;
      font-size: 16px;
    }
  }
}

.avatar__container {
  margin-top: 50px;
  border: $border-secondary-stroke;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: $color-background;
  display: grid;
  place-items: center;

  @media (max-width: $laptop) {
    margin-top: 40px;
    width: 66px;
    height: 66px;
  }
}

.rating__container {
  position: relative;
  padding-top: 30px;
  width: 140px;

  @media (max-width: $laptop) {
    padding-top: 24px;
    scale: 0.8;
  }

  &__full {
    position: absolute;
    overflow: hidden;
  }
}
.arrow-btn {
  @include border-stroke();
  background-color: white;
  width: 58px;
  height: 58px;
  display: grid;
  place-items: center;
  flex-shrink: 0;
  cursor: pointer;
  @media (max-width: $laptop) {
    width: 48px;
    height: 48px;
    & img {
      scale: 0.6;
    }
  }
  &__left {
    transform: rotate(180deg);
  }
}

.comments-nav {
  display: none;
  margin-top: 40px;
  @media (max-width: 1020px) {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}

.arrow-hidden {
  @media (max-width: 1020px) {
    display: none;
  }
}
