$color-primary: #ff8d4c;
$color-primary-shadow: #ffbe99;

$color-primary-accent: #ff8d4d;
$color-secondary-accent: #ffefe5;

$color-background: #fff5f0;

$color-primary-black: #262626;
$color-secondary-black: #1a1a1a;

$color-top-bar-bg: #ffdecc;
