$color-primary: #ff8d4c;
$color-primary-shadow: #ffbe99;

$color-primary-accent: #ff8d4d;
$color-secondary-accent: #ffefe5;
$color-tertiary-accent: #ffae80;

$color-background: #fff5f0;
$color-background-item: #ffdecc;

$color-primary-black: #262626;
$color-secondary-black: #1a1a1a;

$color-gray: #333;
$color-gray-description: #4c4c4d;
