@use "colors" as *;

$border-primary-stroke: solid 2px $color-primary-black;
$border-secondary-stroke: solid 1px $color-gray;
$border-primary-radius: 8px;

// BREAKPOINTS
$laptop: 1700px;
$laptop-small: 1000px;
$mobile-large: 700px;
