@use "../settings/colors" as *;
@use "../settings/mixins" as *;
@use "../settings/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: $color-background;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 50px;

  @media (max-width: 700px) {
    padding: 0 17px;
  }
}

.section {
  padding-top: 200px;

  @media (max-width: $laptop) {
    padding-top: 150px;
  }
  @media (max-width: $laptop-small) {
    padding-top: 80px;
  }
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-subtitle {
  @include border-stroke();
  @include outfit-medium();
  line-height: 150%;
  background-color: white;
  padding: 10px 20px;
  font-size: 18px;

  @media (max-width: $laptop) {
    font-size: 16px;
    padding: 8px 14px;
  }
  @media (max-width: $mobile-large) {
    font-size: 14px;
  }
}

.section-title {
  @include raleway-bold();
  padding: 19px 0;
  text-align: center;

  @media (max-width: $laptop) {
    font-size: 48px;
    padding: 14px 0;
  }
  @media (max-width: $mobile-large) {
    font-size: 38px;
    padding: 10px 0;
  }
}

.section-description {
  @include outfit-medium();
  line-height: 150%;
  text-align: center;
  width: 100%;
  max-width: 990px;

  @media (max-width: $laptop) {
    font-size: 16px;
    max-width: 880px;
  }
  @media (max-width: $mobile-large) {
    max-width: 100%;
  }
}

.article {
  @include border-stroke();
  @include item-shadow();
  position: relative;
  padding: 80px 50px 50px;
  width: 100%;
  max-width: 504px;
  background-color: white;

  @media (max-width: $laptop) {
    padding: 60px 38px 40px;
  }
  @media (max-width: $mobile-large) {
    padding: 50px 38px 30px 30px;
  }

  &__icon-container {
    @include border-stroke();
    position: absolute;
    display: grid;
    place-items: center;
    width: 74px;
    height: 74px;
    background: $color-background-item;
    left: 30px;
    top: -37px;

    @media (max-width: $laptop) {
      width: 56px;
      height: 56px;
      left: 24px;
      top: -28px;
      & img {
        scale: 0.7;
      }
    }
  }

  &__title {
    @include raleway-bold();
    font-size: 28px;

    @media (max-width: $laptop) {
      font-size: 24px;
    }
    @media (max-width: $mobile-large) {
      font-size: 22px;
    }
  }
  &__description {
    @include outfit-medium();
    padding-top: 20px;
    font-size: 18px;
    line-height: 150%;
    color: $color-gray-description;

    @media (max-width: $laptop) {
      font-size: 16px;
    }
  }
}

.btn {
  @include border-stroke();
  background-color: white;
  width: 58px;
  height: 58px;
  display: grid;
  place-items: center;
  flex-shrink: 0;
  cursor: pointer;

  @media (max-width: $laptop) {
    width: 48px;
    height: 48px;
  }

  & img {
    width: 25px;
    height: 25px;
    @media (max-width: $laptop) {
      scale: 0.6;
    }
  }
  &__arrow-left {
    transform: rotate(180deg);
  }
}

.fade-out {
  opacity: 0;
  transition: opacity 0.3s;
}

.hidden {
  display: none;
}

.loader {
  display: grid;
  place-items: center;
  height: 100vh;
  & img {
    @media (max-width: $mobile-large) {
      width: 60px;
      height: 60px;
    }
  }
}

.hero-section {
  @include border-stroke();
  @include item-shadow();
  position: relative;
  background: white;
  margin: 0 -111px;

  @media (max-width: $laptop) {
    margin: 0;
  }

  &__abstract {
    position: absolute;
    left: 0;
    top: 0;

    @media (max-width: $laptop) {
      width: 137px;
      height: 137px;
    }

    @media (max-width: $mobile-large) {
      width: 100px;
      height: 100px;
    }
  }
}

.hero-section-content {
  padding: 150px 120px;
  display: flex;
  justify-content: space-between;

  @media (max-width: $laptop) {
    padding: 100px 80px;
  }

  @media (max-width: $laptop-small) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: $mobile-large) {
    padding: 50px 30px;
  }

  &__title {
    width: 100%;
    max-width: 765px;
    padding-right: 50px;

    @media (max-width: $laptop) {
      max-width: 535px;
      padding-right: 20px;
    }
    @media (max-width: $laptop-small) {
      text-align: center;
    }

    & p {
      @include border-stroke();
      @include outfit-medium();
      display: inline-block;
      font-size: 18px;
      padding: 10px 20px;

      @media (max-width: $laptop) {
        font-size: 16px;
        padding: 8px 16px;
      }

      @media (max-width: $mobile-large) {
        font-size: 14px;
      }
    }
    & h2 {
      @include raleway-bold();
      font-size: 48px;
      padding-top: 14px;

      @media (max-width: $laptop) {
        font-size: 38px;
      }
      @media (max-width: $mobile-large) {
        font-size: 28px;
        padding-top: 10px;
      }
    }
  }
  &__description {
    @include outfit-medium();
    color: $color-gray;
    line-height: 150%;
    width: 100%;
    max-width: 765px;

    @media (max-width: $laptop) {
      font-size: 16px;
      max-width: 535px;
    }

    @media (max-width: $laptop-small) {
      text-align: center;
      padding-top: 20px;
    }
  }
}

.content {
  padding: 60px 111px 200px;

  @media (max-width: $laptop) {
    padding: 40px 30px 150px;
  }
  @media (max-width: $mobile-large) {
    padding: 40px 0 80px;
  }
}
