@use "../settings/colors" as *;
@use "../settings/variables" as *;
@use "../settings/fonts" as *;
@use "../settings/mixins" as *;

.footer__content {
  @include border-stroke();
  @include item-shadow();
  background-color: white;
  padding: 100px 113px 40px;
  // margin: 0 50px;

  @media (max-width: $laptop) {
    padding: 80px 80px 40px;
  }
}

.company-info {
  display: flex;
  padding-bottom: 50px;

  @media (max-width: $laptop) {
    padding-bottom: 40px;
  }
  &__contact {
    @include outfit-medium();
    line-height: 150%;
    color: $color-gray-description;
    width: 100%;
    max-width: 519px;
    & p {
      padding-top: 20px;
    }

    @media (max-width: $laptop) {
      font-size: 16px;

      .logo-container {
        img {
          width: 182px;
        }
      }
    }
  }
}

.contact-item-container {
  padding-top: 50px;

  @media (max-width: $laptop) {
    padding-top: 40px;
  }

  & .contact__item {
    display: flex;
    align-items: center;
    padding-bottom: 24px;

    @media (max-width: $laptop) {
      padding-bottom: 20px;
    }
    &:last-child {
      padding-bottom: 0;
    }
    & .item__icon {
      @include border-stroke();
      display: grid;
      place-items: center;
      width: 40px;
      height: 40px;
      background-color: $color-background;

      @media (max-width: $laptop) {
        width: 32px;
        height: 32px;

        img {
          width: 20px;
        }
      }
    }
    & span {
      padding-left: 10px;
    }
  }
}

.company-info__links {
  @include outfit-medium();
  line-height: 150%;
  margin-left: 80px;
  display: flex;

  @media (max-width: $laptop) {
    font-size: 16px;
  }

  & .info-link {
    margin-right: 30px;
    width: 226px;

    @media (max-width: $laptop) {
      margin-right: 20px;
      width: 161px;
    }
    &:last-child {
      margin-right: 0;
    }
    & li {
      padding-bottom: 14px;
      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
    &__title {
      font-weight: 600;
      padding-bottom: 24px;

      @media (max-width: $laptop) {
        padding-bottom: 20px;
      }
    }
  }
}

.separator {
  border-bottom: 1px solid black;
}

.media-content {
  @include outfit-medium();
  line-height: 150%;
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $laptop) {
    font-size: 16px;
  }

  & .media-icons {
    display: flex;
    gap: 14px;
    & .media-container {
      @include border-stroke();
      width: 56px;
      height: 56px;
      display: grid;
      place-items: center;
      background-color: $color-background-item;
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }
}

.copyrights-container {
  @include outfit-medium();
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  padding-top: 30px;

  @media (max-width: $laptop) {
    font-size: 16px;
  }
}
