@use "../settings/variables" as *;
@use "../settings/colors" as *;
@use "../settings/fonts" as *;
@use "../settings/mixins" as *;

.nav-bar {
  @include border-stroke;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin-top: 14px;
  & ul {
    display: flex;
  }
  &__logo {
    background-color: $color-primary-accent;
    padding: 20px 24px;
    border-right: $border-primary-stroke;
  }
}
